@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f8fafc;
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  text-align: left;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  button {
    transition: none;
  }
}
